<ion-view view-title="Pagina Principal">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Actividades Recientes</div>
      <div class="item item-body">
        <div>
          Tenemos fuego en el <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Pendientes</div>
      <div class="item item-body">
        <div>
          Te cominte una manzana hoy!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Proximas</div>
      <div class="item item-body">
        <div>
          Tienes <b>29</b> reuniones en tu calendario mañana.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
